**/bin/
**/.settings/
*.project
**/.classpath
**/.project
*.metadata/
MysqlQuerry/
MavenProject/
JDBC_08/
**/src/test/
**/.gitignore.txt
**/target/
**/pom.xml
**/.gitignore
PasswordManager/
PasswordManager1/
ManagementPassword/
GetterSetterAnnotation/